<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include
        filename="$(find walkie_description)/urdf/inertial_macros.xacro"
    />
  <xacro:include
        filename="$(find walkie_description)/urdf/walkie/omni_wheel/omni_wheel.gazebo.xacro"
    />
  <xacro:include
        filename="$(find walkie_description)/urdf/walkie/omni_wheel/omni_wheel.transmission.xacro"
    />
  <xacro:property name="wheel_thickness" value="0.05" />
  <xacro:property name="wheel_radian" value="0.075" />
  <xacro:property name="wheel_mass" value="0.05" />
  <xacro:macro name="wheel_v0" params="prefix parent *joint_origin *joint_axis">
    <joint name="${prefix}_wheel_joint" type="continuous">
      <xacro:insert_block name="joint_origin" />
      <parent link="${parent}" />
      <child link="${prefix}_wheel_link" />
      <limit effort="100" velocity="100" />
      <dynamics damping="5.0" friction="0.5" />
      <xacro:insert_block name="joint_axis" />
    </joint>
    <link name="${prefix}_wheel_link">
        <visual>
            <geometry>
                <mesh
                        filename="package://walkie_description/meshes/walkie/omni_wheel_optimize.dae"
                        scale="1 1 1"
                    />
            </geometry>
        </visual>
        <xacro:inertial_cylinder
                mass="${wheel_mass}"
                length="${wheel_thickness}"
                radius="${wheel_radian}"
            >
            <origin xyz="0 0 0" rpy="1.570796327 0 0" />
        </xacro:inertial_cylinder>
        <collision>
            <origin xyz="0 0 0" rpy="1.570796327 0 0" />
            <geometry>
            <cylinder radius="${wheel_radian}" length="${wheel_thickness}" />
            </geometry>
        </collision>
    </link>
    <xacro:wheel_gazebo_v0 prefix="${prefix}" />
  </xacro:macro>

</robot>
