<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="lift_v0" params="prefix parent *joint_origin">
    <joint name="${prefix}_joint" type="prismatic">
        <xacro:insert_block name="joint_origin"/>
        <limit lower="0.080" upper="0.7435" effort="10000.0" velocity="0.1"/>
        <parent link="${parent}"/>
        <child link="${prefix}_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>
    <link name="${prefix}_link">
        <visual name="lift">
            <geometry>
                <mesh filename="package://walkie_description/meshes/walkie/Lift.stl"/>
            </geometry>
            <material name="grey"/>
        </visual>
        <!-- <collision name="lift_collision">
            <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 -0.08773 0.09614"/>
            <geometry>
                <box size="0.34666 0.35267 0.18936"/>
            </geometry>
        </collision> -->
        <collision name="top_bar">
            <origin xyz="0 0 0.109" rpy="0 0 0"/>
            <geometry>
            <box size="0.346 0.174 0.132"/>
            </geometry>
        </collision>

        <!-- Vertical stem -->
        <collision name="stem">
            <origin xyz="0 -0.172 0.109" rpy="0 0 0"/>
            <geometry>
            <box size="0.190 0.190 0.132"/>
            </geometry>
        </collision>
    </link>
  </xacro:macro>
</robot>
