<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_walkie_arm">
    <!-- Arguments -->
    <xacro:arg name="robot_name" default="dual_walkie_arm" />
    <xacro:arg name="base_link" default="base_link" />
    <xacro:arg name="left_flange_link" default="link_flange" />
    <xacro:arg name="right_flange_link" default="link_flange" />
    <xacro:arg name="use_gripper" default="true" />
    <xacro:arg name="arm_spacing" default="0.5" />

    <!-- Include the arm and gripper macros -->
    <xacro:include
        filename="$(find walkie_description)/urdf/walkie-arm/walkie_arm.urdf.xacro"
    />
    <xacro:include
        filename="$(find walkie_description)/urdf/walkie-gripper/walkie_gripper.urdf.xacro"
    />

    <!-- Main base link -->
    <link name="$(arg base_link)">
      <inertial>
        <origin xyz="0 0 0.025" rpy="0 0 0" />
        <mass value="2.0" />
        <inertia
                ixx="0.01"
                ixy="0.0"
                ixz="0.0"
                iyy="0.01"
                iyz="0.0"
                izz="0.015"
            />
      </inertial>
      <visual>
        <geometry>
          <box size="0.2 0.4 0.05" />
        </geometry>
        <origin xyz="0 0 0.025" rpy="0 0 0" />
        <material name="base_material">
          <color rgba="0.2 0.2 0.2 1.0" />
        </material>
      </visual>
    </link>

    <!-- Left arm base mount -->
    <link name="left_arm_base">
      <!-- <visual>
        <geometry>
          <cylinder radius="0.05" length="0.05" />
        </geometry>
        <origin xyz="0 0 0.025" rpy="0 0 0" />
        <material name="mount_material">
          <color rgba="0.3 0.3 0.3 1.0" />
        </material>
      </visual> -->
    </link>

    <!-- Right arm base mount -->
    <link name="right_arm_base">
      <!-- <visual>
        <geometry>
          <cylinder radius="0.05" length="0.05" />
        </geometry>
        <origin xyz="0 0 0.025" rpy="0 0 0" />
        <material name="mount_material">
          <color rgba="0.3 0.3 0.3 1.0" />
        </material>
      </visual> -->
    </link>

    <!-- Left arm mount joint -->
    <joint name="left_arm_mount_joint" type="fixed">
      <parent link="$(arg base_link)" />
      <child link="left_arm_base" />
      <origin
            xyz="0 ${$(arg arm_spacing)/2} 0.05"
            rpy="0 0 1.570796326794897"
        />
    </joint>

    <!-- Right arm mount joint -->
    <joint name="right_arm_mount_joint" type="fixed">
      <parent link="$(arg base_link)" />
      <child link="right_arm_base" />
      <origin
            xyz="0 ${-$(arg arm_spacing)/2} 0.05"
            rpy="0 0 -1.570796326794897"
        />
    </joint>

    <!-- Left arm -->
    <xacro:walkie_arm
        base_link="arm_base"
        flange_link="$(arg left_flange_link)"
        prefix="left"
    >
      <origin xyz="0 0 0.05" rpy="0 0 0" />
    </xacro:walkie_arm>

    <!-- Right arm -->
    <xacro:walkie_arm
        base_link="arm_base"
        flange_link="$(arg right_flange_link)"
        prefix="right"
    >
      <origin xyz="0 0 0.05" rpy="0 0 0" />
    </xacro:walkie_arm>

    <!-- Left gripper (optional) -->
    <xacro:if value="$(arg use_gripper)">
      <xacro:walkie_gripper parent="$(arg left_flange_link)" prefix="left">
        <origin xyz="0 0 0" rpy="3.141592653589793 0 0" />
      </xacro:walkie_gripper>
    </xacro:if>

    <!-- Right gripper (optional) -->
    <xacro:if value="$(arg use_gripper)">
      <xacro:walkie_gripper parent="$(arg right_flange_link)" prefix="right">
        <origin xyz="0 0 0" rpy="3.141592653589793 0 0" />
      </xacro:walkie_gripper>
    </xacro:if>

    <!-- Gazebo materials -->
    <gazebo reference="$(arg base_link)">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="left_arm_base">
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="right_arm_base">
      <material>Gazebo/Grey</material>
    </gazebo>

</robot>
