<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="joint_effort" value="30.0" />
  <xacro:property name="joint_velocity" value="2.0" />
  <xacro:property name="joint_damping" value="0.1" />
  <xacro:property name="joint_friction" value="0.1" />

  <material name="walkie_steel_satin">
    <color rgba="0.62353 0.62353 0.62353 1.0" />
  </material>

  <xacro:macro name="walkie_arm" params="base_link prefix">
    
    <link name="${base_link}">
      <visual>
        <material name="walkie_steel_satin" />
        <origin rpy="0.0 0.0 0.0" xyz="0.07550 0.0 0.0" />
        <geometry>
          <mesh filename="package://walkie_description/meshes/walkie-arm/stl/Body1_267.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="1.57080 0.00000 1.57080" xyz="0.03350 0.00000 -0.00513"/>
        <geometry>
          <cylinder radius="0.04838" length="0.08350"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.5"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

    <joint name="${prefix}_joint1" type="revolute">
      <axis xyz="-1.0 0.0 0.0" />
      <limit effort="${joint_effort}" lower="-3.14" upper="3.14" velocity="${joint_velocity}" />
      <parent link="${base_link}" />
      <child link="${prefix}_link1" />
      <origin xyz="0.07550 0.0 0.0" rpy="0.0 0.0 0.0" />
      <dynamics damping="${joint_damping}" friction="${joint_friction}" />
    </joint>

    <link name="${prefix}_link1">
      <visual>
        <material name="walkie_steel_satin" />
        <origin rpy="0.0 0.0 0.0" xyz="0.04425 -0.03925 0.0" />
        <geometry>
          <mesh filename="package://walkie_description/meshes/walkie-arm/stl/Body8_006.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="-1.57080 1.57080 0.00000" xyz="0.04418 0.00000 -0.00000"/>
        <geometry>
          <cylinder radius="0.04393" length="0.098"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.15" />
        <inertia ixx="0.00015" ixy="0.0" ixz="0.0" iyy="0.00015" iyz="0.0" izz="0.0001" />
      </inertial>
    </link>

    <joint name="${prefix}_joint2" type="revolute">
      <axis xyz="0.0 1.0 0.0" />
      <limit effort="${joint_effort}" lower="-3.14" upper="0.1" velocity="${joint_velocity}" />
      <parent link="${prefix}_link1" />
      <child link="${prefix}_link2" />
      <origin xyz="0.04425 -0.03925 0.0" rpy="0.0 0.0 0.0" />
      <dynamics damping="${joint_damping}" friction="${joint_friction}" />
    </joint>

    <link name="${prefix}_link2">
      <visual>
        <material name="walkie_steel_satin" />
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.03925 -0.13525" />
        <geometry>
          <mesh filename="package://walkie_description/meshes/walkie-arm/stl/Body2_006.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.03929 -0.12406"/>
        <geometry>
          <cylinder radius="0.04469" length="0.15"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.12" />
        <inertia ixx="0.00012" ixy="0.0" ixz="0.0" iyy="0.00012" iyz="0.0" izz="0.00008" />
      </inertial>
    </link>

    <joint name="${prefix}_joint3" type="revolute">
      <axis xyz="0.0 0.0 1.0" />
      <limit effort="${joint_effort}" lower="-3.14" upper="3.14" velocity="${joint_velocity}" />
      <parent link="${prefix}_link2" />
      <child link="${prefix}_link3" />
      <origin xyz="0.0 0.03925 -0.13525" rpy="0.0 0.0 0.0" />
      <dynamics damping="${joint_damping}" friction="${joint_friction}" />
    </joint>

    <link name="${prefix}_link3">
      <visual>
        <material name="walkie_steel_satin" />
        <origin rpy="0.0 0.0 0.0" xyz="0.03825 0.0 -0.11475" />
        <geometry>
          <mesh filename="package://walkie_description/meshes/walkie-arm/stl/Body1_266.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="-0.00000 1.57080 -0.00000" xyz="-0.00103 -0.00000 -0.11471"/>
        <geometry>
          <cylinder radius="0.044" length="0.09"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.20" />
        <inertia ixx="0.0002" ixy="0.0" ixz="0.0" iyy="0.0002" iyz="0.0" izz="0.00012" />
      </inertial>
    </link>

    <joint name="${prefix}_joint4" type="revolute">
      <axis xyz="1.0 0.0 0.0" />
      <limit effort="${joint_effort}" lower="-1.9" upper="1.9" velocity="${joint_velocity}" />
      <parent link="${prefix}_link3" />
      <child link="${prefix}_link4" />
      <origin xyz="0.03825 0.0 -0.11475" rpy="0.0 0.0 0.0" />
      <dynamics damping="${joint_damping}" friction="${joint_friction}" />
    </joint>

    <link name="${prefix}_link4">
      <visual>
        <material name="walkie_steel_satin" />
        <origin rpy="0.0 0.0 0.0" xyz="-0.05962 0.0 -0.12200" />
        <geometry>
          <mesh filename="package://walkie_description/meshes/walkie-arm/stl/Body2_020.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.03467 -0.00059 -0.09265"/>
        <geometry>
          <cylinder radius="0.034" length="0.09"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.18" />
        <inertia ixx="0.00025" ixy="0.0" ixz="0.0" iyy="0.00025" iyz="0.0" izz="0.00015" />
      </inertial>
    </link>

    <joint name="${prefix}_joint5" type="revolute">
      <axis xyz="-1.0 0.0 0.0" />
      <limit effort="${joint_effort}" lower="-3.14" upper="0.0" velocity="${joint_velocity}" />
      <parent link="${prefix}_link4" />
      <child link="${prefix}_link5" />
      <origin xyz="-0.05962 0.0 -0.12200" rpy="-1.57 0.0 0.0" />
      <dynamics damping="${joint_damping}" friction="${joint_friction}" />
    </joint>

    <link name="${prefix}_link5">
      <visual>
        <material name="walkie_steel_satin" />
        <origin rpy="0.0 0.0 0.0" xyz="0.02037 -0.02800 -0.06500" />
        <geometry>
          <mesh filename="package://walkie_description/meshes/walkie-arm/stl/Body2_026.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="1.57080 0.00000 0.00000" xyz="0.02026 0.00000 -0.06561"/>
        <geometry>
          <cylinder radius="0.0285" length="0.067"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.15" />
        <inertia ixx="0.0002" ixy="0.0" ixz="0.0" iyy="0.0002" iyz="0.0" izz="0.00012" />
      </inertial>
    </link>

    <joint name="${prefix}_joint6" type="revolute">
      <axis xyz="0.0 -1.0 0.0" />
      <limit effort="${joint_effort}" lower="-1.57" upper="1.57" velocity="${joint_velocity}" />
      <parent link="${prefix}_link5" />
      <child link="${prefix}_link6" />
      <origin xyz="0.02037 -0.02800 -0.06500" rpy="0.0 0.0 0.0" />
      <dynamics damping="${joint_damping}" friction="${joint_friction}" />
    </joint>

    <link name="${prefix}_link6">
      <visual>
        <material name="walkie_steel_satin" />
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.02800 -0.13825" />
        <geometry>
          <mesh filename="package://walkie_description/meshes/walkie-arm/stl/Body1_259.stl" scale="1 1 1"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.02829 -0.08677"/>
        <geometry>
          <cylinder radius="0.038" length="0.100"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.10" />
        <inertia ixx="0.00015" ixy="0.0" ixz="0.0" iyy="0.00015" iyz="0.0" izz="0.0001" />
      </inertial>
    </link>

  </xacro:macro>
</robot>
